# Sensitive files
secrets.yaml

# Logs & temporary files
*.db
*.db-shm
*.db-wal
home-assistant.log*
*.log
*.log.*
home-assistant_v2.db
tts/

# Capture lovelace dashboards
# Have to enable the folder first, then the individual files
# Lovelace files are NOT .yaml, so include anything that matches
.storage/*
!.storage/
!.storage/lovelace*

www/snapshots/
.ha_run.lock
