- id: '1749037121895'
  alias: Porch light on person
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.garage_front_person
    to: 'on'
  - trigger: state
    entity_id:
    - binary_sensor.reolink_video_doorbell_poe_person
    to: 'on'
  conditions:
  - condition: sun
    before: sunrise
    after: sunset
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: Porch light on person triggered
      data:
        entity_id: camera.garage_cam
        url: '{{ states(''input_text.camera_dashboard_url'') }}'
        data:
          group: porch-light-on
          tag: porch-light-on
  - choose:
    - conditions:
      - condition: state
        entity_id: light.porch_light
        state: 'off'
      sequence:
      - action: script.porch_light_on
        metadata: {}
        data: {}
      - delay:
          hours: 0
          minutes: 10
          seconds: 0
          milliseconds: 0
      - action: script.porch_light_off
        metadata: {}
        data: {}
    - conditions:
      - condition: state
        entity_id: light.porch_light
        state: 'on'
      - condition: numeric_state
        entity_id: light.porch_light
        attribute: brightness
        below: 100
      sequence:
      - variables:
          prev_brightness: '{{ state_attr(''light.porch_light'', ''brightness'') }}'
      - action: script.porch_light_on
        metadata: {}
        data: {}
      - delay:
          hours: 0
          minutes: 10
          seconds: 0
          milliseconds: 0
      - action: script.porch_light_on
        metadata: {}
        data:
          brightness: '{{ prev_brightness }}'
  mode: single
- id: '1749085915742'
  alias: Vaccum Error
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.roborock_qrevo_vacuum_error
    from: none
    to:
    for:
      hours: 0
      minutes: 1
      seconds: 0
  - trigger: state
    entity_id:
    - sensor.roborock_qrevo_dock_error
    from: ok
    to:
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: Vaccum error {{ trigger.to_state.name }}
      title: Vacuum alert
  - action: notify.mobile_app_sreelakshmis_iphone
    metadata: {}
    data:
      message: Vaccum error {{ trigger.to_state.name }}
      title: Vacuum alert
  mode: single
- id: '1755504874286'
  alias: Refresh Plex Libraries
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - remote.livingroomtv
    to: 'on'
  - trigger: state
    entity_id:
    - media_player.plex_plex_for_lg_lg_86qned86asa_aaufljd
    to:
    - 'on'
  conditions: []
  actions:
  - action: plex.refresh_library
    metadata: {}
    data:
      library_name: MiniMovies
  - action: plex.refresh_library
    metadata: {}
    data:
      library_name: MiniShows
  mode: single
- id: '1755514817754'
  alias: Living Lights Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    id: sunset
    offset: -00:30:00
  - trigger: time
    at: 00:00:00
    id: night
  - trigger: sun
    event: sunrise
    offset: -01:00:00
    id: sunrise
    enabled: true
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunset'' }}'
      sequence:
      - action: script.living_evening_routine
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''night'' }}'
      sequence:
      - action: script.living_night_routine
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunrise'' }}'
      sequence:
      - action: script.living_corner_lamp_off
        metadata: {}
        data: {}
      - action: script.living_table_lamp_off
        metadata: {}
        data: {}
  mode: single
- id: '1755590895676'
  alias: Porch Light Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: -00:10:00
    id: 'on'
  - trigger: time
    at: '21:00:00'
    id: 'off'
  - trigger: time
    at: '22:00:00'
    id: 'off'
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: script.porch_light_on
        metadata: {}
        data:
          brightness: 10
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      sequence:
      - action: script.porch_light_off
        metadata: {}
        data: {}
  mode: single
- id: '1755743513676'
  alias: Nightly Git Backup
  description: ''
  triggers:
  - trigger: time
    at: 02:00:00
  conditions: []
  actions:
  - action: script.backup_ha_config_to_github
    metadata: {}
    data: {}
  mode: single
- id: '1755770561310'
  alias: Theatre Light Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    id: 'on'
    offset: -00:30:00
  - trigger: time
    at: '23:59:00'
    id: 'off'
  - trigger: sun
    event: sunrise
    offset: -01:00:00
    id: sunrise
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: script.theatre_sunset_light_on
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      - condition: state
        entity_id: media_player.theatre_tv
        state:
        - 'off'
        - unavailable
        - unknown
      sequence:
      - action: script.theatre_sunset_light_off
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunrise'' }}'
      sequence:
      - action: script.theatre_sunset_light_off
        metadata: {}
        data: {}
  mode: single
- id: '1767328530029'
  alias: Garage Left Open
  description: ''
  triggers:
  - trigger: template
    value_template: '{{ ''open'' in states(''sensor.garage_status'') | lower or ''stop''
      in states(''sensor.garage_status'') | lower }}'
    for:
      hours: 0
      minutes: 10
      seconds: 0
  conditions:
  - condition: template
    value_template: "{{ 'open' in states('sensor.garage_status') | lower\n         or
      'stop' in states('sensor.garage_status') | lower }}"
  actions:
  - alias: Set up variables for the actions
    variables:
      action_open: '{{ ''OPEN_'' ~ context.id }}'
      action_close: '{{ ''CLOSE_'' ~ context.id }}'
  - alias: Ask to close
    action: notify.mobile_app_iphone_l
    data:
      message: "The garage status is:         \n\"{{ states('sensor.garage_status')
        }}\"         \nfor more than 10 minutes."
      title: "Garage Door Alert \U0001F6A8"
      data:
        actions:
        - action: '{{ action_close }}'
          title: Close Garage
  - alias: Wait for a response
    wait_for_trigger:
    - event_type: mobile_app_notification_action
      event_data:
        action: '{{ action_close }}'
      trigger: event
  - alias: Perform the action
    choose:
    - conditions:
      - condition: template
        value_template: '{{ wait.trigger.event.data.action == action_close }}'
      sequence:
      - action: cover.close_cover
        target:
          entity_id: cover.smart_garage
  mode: restart
- id: '1767776656798'
  alias: Front Cams Push Notification Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
    id: 'on'
  - trigger: sun
    event: sunrise
    offset: 0
    id: 'off'
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: switch.turn_on
        metadata: {}
        target:
          entity_id: switch.all_cams_push_notify
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      sequence:
      - action: switch.turn_off
        metadata: {}
        target:
          entity_id: switch.all_cams_push_notify
        data: {}
      - action: switch.turn_on
        metadata: {}
        target:
          entity_id: switch.front_cams_push_notify
        data: {}
  mode: single
- id: '1768798510194'
  alias: Doors Check Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  - trigger: time
    at: '23:59:00'
  conditions: []
  actions:
  - action: script.doors_check
    metadata: {}
    data: {}
  mode: single
- id: '1771550130081'
  alias: Illumination test
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.light_sensor_65_the_frame_illuminance
    below: 100
  conditions:
  - condition: sun
    before: sunset
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: 'Illumination below 100. Value: "{{ states(''sensor.light_sensor_65_the_frame_illuminance'')
        }}" '
  mode: single
- id: '1771921430053'
  alias: Bin Alert
  description: ''
  triggers:
  - trigger: calendar.event_started
    target:
      entity_id: calendar.bin_collection
    options:
      offset:
        days: 0
        hours: 0
        minutes: 0
        seconds: 0
      offset_type: before
  conditions:
  - condition: template
    value_template: '{{ trigger.calendar_event.summary == ''Red Bin'' }}'
  actions:
  - action: notify.all_devices
    metadata: {}
    data:
      title: ♻️ Bin Day
      message: Please take the bin out
      data:
        group: bin-alerts
        tag: bin-alerts
  mode: single
- id: '1772094107770'
  alias: Front Person Alerts
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera:
      - camera.garage_cam
      - camera.doorbell_cam
      notify_device: 83f5d3039d66859d74a9998ea9308889
      base_url: https://riverhills85.duckdns.org:8123
      zone_filter: true
      zones:
      - Driveway
      - Porch
      labels:
      - person
      cooldown: 0
      critical: '{{''true'' if is_state(''sun.sun'', ''below_horizon'') else ''false''
        }}'
      alert_once: false
      title: Front Camera Alert
      attachment: '{{base_url}}/api/frigate{{client_id}}/notifications/{{review_id}}/review_preview.gif'
      attachment_2: '{{base_url}}/api/frigate{{client_id}}/notifications/{{review_id}}/review_preview.gif'
      final_update: true
      icon: mdi:cctv
      sound: US-EN-Alexa-Motion-In-Front-Yard.wav
      master_condition:
      - condition: state
        entity_id: switch.front_cams_push_notify
        state:
        - 'on'
      tap_action: '{{ states(''input_text.camera_dashboard_url'') }}'
      url_1: '{{base_url}}/api/frigate{{client_id}}/notifications/{{id}}/{{camera}}/master.m3u8'
- id: '1772154439254'
  alias: Front Night Alert
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera:
      - camera.doorbell_cam
      - camera.garage_cam
      notify_device: 83f5d3039d66859d74a9998ea9308889
      base_url: https://riverhills85.duckdns.org:8123
      title: Front Night Alert
      message: '{{ label }}{{ '' was'' if type == ''end'' else '''' }} detected on
        the {{ camera_name }} camera{{'' in the '' if after_zones|length}}{{ after_zones
        | join('', '') | replace(''_'', '' '' ) | title }}.'
      critical: '{{''true'' if is_state(''sun.sun'', ''below_horizon'') else ''false''
        }}'
      attachment: '{{base_url}}/api/frigate{{client_id}}/notifications/{{review_id}}/review_preview.gif'
      attachment_2: '{{base_url}}/api/frigate{{client_id}}/notifications/{{review_id}}/review_preview.gif'
      final_update: true
      icon: mdi:cctv
      group: '{{camera}}-frigate-notification-night-car'
      disable_times:
      - '7'
      - '8'
      - '9'
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      loiter_timer: 8
      tap_action: '{{ states(''input_text.camera_dashboard_url'') }}'
      url_1: '{{base_url}}/api/frigate{{client_id}}/notifications/{{id}}/{{camera}}/master.m3u8'
- id: '1772199853558'
  alias: Time Phase Engine
  description: ''
  triggers:
  - event: sunrise
    trigger: sun
  - event: sunset
    trigger: sun
  - at: '23:59:59'
    trigger: time
  actions:
  - choose:
    - conditions: '{{ trigger.event == ''sunrise'' }}'
      sequence:
      - target:
          entity_id: input_select.time_phase
        data:
          option: Day
        action: input_select.select_option
    - conditions: '{{ trigger.event == ''sunset'' }}'
      sequence:
      - target:
          entity_id: input_select.time_phase
        data:
          option: Evening
        action: input_select.select_option
    - conditions: '{{ trigger.platform == ''time'' }}'
      sequence:
      - target:
          entity_id: input_select.time_phase
        data:
          option: Night
        action: input_select.select_option
- id: '1772264255820'
  alias: Living Mode Engine
  description: ''
  use_blueprint:
    path: room_mode_engine.yaml
    input:
      room_key: living
      room_intent: input_select.living_mode
      house_state: input_select.house_mode
      time_phase: input_select.time_phase
      manual_override: input_boolean.living_manual_override
