- id: '1749037121895'
  alias: Porch light on person
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.garage_front_person
    to: 'on'
  - trigger: state
    entity_id:
    - binary_sensor.reolink_video_doorbell_poe_person
    to: 'on'
  conditions:
  - condition: sun
    before: sunrise
    after: sunset
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: Porch light on person triggered
      data:
        entity_id: camera.garage_cam
        url: '{{ states(''input_text.camera_dashboard_url'') }}'
  - choose:
    - conditions:
      - condition: state
        entity_id: light.porch_light
        state: 'off'
      sequence:
      - action: script.porch_light_on
        metadata: {}
        data: {}
      - delay:
          hours: 0
          minutes: 10
          seconds: 0
          milliseconds: 0
      - action: script.porch_light_off
        metadata: {}
        data: {}
    - conditions:
      - condition: state
        entity_id: light.porch_light
        state: 'on'
      - condition: numeric_state
        entity_id: light.porch_light
        attribute: brightness
        below: 100
      sequence:
      - variables:
          prev_brightness: '{{ state_attr(''light.porch_light'', ''brightness'') }}'
      - action: script.porch_light_on
        metadata: {}
        data: {}
      - delay:
          hours: 0
          minutes: 10
          seconds: 0
          milliseconds: 0
      - action: script.porch_light_on
        metadata: {}
        data:
          brightness: '{{ prev_brightness }}'
  mode: single
- id: '1749085915742'
  alias: Vaccum Error
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.roborock_qrevo_vacuum_error
    from: none
    to:
    for:
      hours: 0
      minutes: 1
      seconds: 0
  - trigger: state
    entity_id:
    - sensor.roborock_qrevo_dock_error
    from: ok
    to:
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: Vaccum error {{ trigger.to_state.name }}
      title: Vacuum alert
  - action: notify.mobile_app_sreelakshmis_iphone
    metadata: {}
    data:
      message: Vaccum error {{ trigger.to_state.name }}
      title: Vacuum alert
  mode: single
- id: '1755504874286'
  alias: Refresh Plex Libraries
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - remote.livingroomtv
    to: 'on'
  - trigger: state
    entity_id:
    - media_player.plex_plex_for_lg_lg_86qned86asa_aaufljd
    to:
    - 'on'
  conditions: []
  actions:
  - action: plex.refresh_library
    metadata: {}
    data:
      library_name: MiniMovies
  - action: plex.refresh_library
    metadata: {}
    data:
      library_name: MiniShows
  mode: single
- id: '1755514817754'
  alias: Living Lights Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    id: sunset
    offset: -00:30:00
  - trigger: time
    at: 00:00:00
    id: night
  - trigger: sun
    event: sunrise
    offset: -01:00:00
    id: sunrise
    enabled: true
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunset'' }}'
      sequence:
      - action: script.living_evening_routine
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''night'' }}'
      sequence:
      - action: script.living_table_lamp_off
        metadata: {}
        data: {}
      - action: script.living_corner_lamp_on
        metadata: {}
        data:
          brightness: 30
        enabled: true
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunrise'' }}'
      sequence:
      - action: script.living_corner_lamp_off
        metadata: {}
        data: {}
      - action: script.living_table_lamp_off
        metadata: {}
        data: {}
  mode: single
- id: '1755590895676'
  alias: Porch Light Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: -00:10:00
    id: 'on'
  - trigger: time
    at: '21:00:00'
    id: 'off'
  - trigger: time
    at: '22:00:00'
    id: 'off'
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: script.porch_light_on
        metadata: {}
        data:
          brightness: 10
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      sequence:
      - action: script.porch_light_off
        metadata: {}
        data: {}
  mode: single
- id: '1755743513676'
  alias: Nightly Git Backup
  description: ''
  triggers:
  - trigger: time
    at: 02:00:00
  conditions: []
  actions:
  - action: script.backup_ha_config_to_github
    metadata: {}
    data: {}
  mode: single
- id: '1755770561310'
  alias: Theatre Light Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    id: 'on'
    offset: -00:30:00
  - trigger: time
    at: '23:59:00'
    id: 'off'
  - trigger: sun
    event: sunrise
    offset: -01:00:00
    id: sunrise
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: script.theatre_sunset_light_on
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      - condition: state
        entity_id: media_player.theatre_tv
        state:
        - 'off'
        - unavailable
        - unknown
      sequence:
      - action: script.theatre_sunset_light_off
        metadata: {}
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''sunrise'' }}'
      sequence:
      - action: script.theatre_sunset_light_off
        metadata: {}
        data: {}
  mode: single
- id: '1767328530029'
  alias: Garage Left Open
  description: ''
  triggers:
  - trigger: template
    value_template: '{{ ''open'' in states(''sensor.garage_status'') | lower or ''stop''
      in states(''sensor.garage_status'') | lower }}'
    for:
      hours: 0
      minutes: 10
      seconds: 0
  conditions:
  - condition: template
    value_template: "{{ 'open' in states('sensor.garage_status') | lower\n         or
      'stop' in states('sensor.garage_status') | lower }}"
  actions:
  - alias: Set up variables for the actions
    variables:
      action_open: '{{ ''OPEN_'' ~ context.id }}'
      action_close: '{{ ''CLOSE_'' ~ context.id }}'
  - alias: Ask to close
    action: notify.mobile_app_iphone_l
    data:
      message: "The garage status is:         \n\"{{ states('sensor.garage_status')
        }}\"         \nfor more than 10 minutes."
      title: "Garage Door Alert \U0001F6A8"
      data:
        actions:
        - action: '{{ action_close }}'
          title: Close Garage
  - alias: Wait for a response
    wait_for_trigger:
    - event_type: mobile_app_notification_action
      event_data:
        action: '{{ action_close }}'
      trigger: event
  - alias: Perform the action
    choose:
    - conditions:
      - condition: template
        value_template: '{{ wait.trigger.event.data.action == action_close }}'
      sequence:
      - action: cover.close_cover
        target:
          entity_id: cover.smart_garage
  mode: restart
- id: '1767750985016'
  alias: Front Person
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.driveway_person_occupancy
    to:
    - 'on'
  - trigger: state
    entity_id:
    - binary_sensor.porch_person_occupancy
    to:
    - 'on'
  conditions:
  - condition: state
    entity_id: switch.front_cams_push_notify
    state:
    - 'on'
  actions:
  - choose:
    - conditions:
      - condition: sun
        after: sunset
      sequence:
      - action: notify.mobile_app_iphone_l
        metadata: {}
        data:
          message: Front Person detected
          title: Front Person
          data:
            push:
              sound:
                name: US-EN-Alexa-Motion-In-Front-Yard.wav
                critical: 1
                volume: 1
            entity_id: camera.garage_cam
            url: '{{ states(''input_text.camera_dashboard_url'') }}'
    - conditions:
      - condition: sun
        before: sunset
      sequence:
      - action: notify.mobile_app_iphone_l
        metadata: {}
        data:
          message: Front Person detected
          title: Front Person
          data:
            push:
              sound:
                name: US-EN-Alexa-Motion-In-Front-Yard.wav
            entity_id: camera.garage_cam
            url: '{{ states(''input_text.camera_dashboard_url'') }}'
  mode: single
- id: '1767769246794'
  alias: Night Street Car
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.street_car_active_count
    for:
      hours: 0
      minutes: 0
      seconds: 15
    above: 0
  conditions:
  - condition: time
    after: '21:00:00'
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      title: 'Street: Car Loittering'
      message: Car Loittering in front street
      data:
        push:
          sound:
            name: default
            critical: 1
            volume: 1
  mode: single
- id: '1767776656798'
  alias: Front Cams Push Notification Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
    id: 'on'
  - trigger: sun
    event: sunrise
    offset: 0
    id: 'off'
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''on'' }}'
      sequence:
      - action: switch.turn_on
        metadata: {}
        target:
          entity_id: switch.all_cams_push_notify
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.id == ''off'' }}'
      sequence:
      - action: switch.turn_off
        metadata: {}
        target:
          entity_id: switch.all_cams_push_notify
        data: {}
      - action: switch.turn_on
        metadata: {}
        target:
          entity_id: switch.front_cams_push_notify
        data: {}
  mode: single
- id: '1768798510194'
  alias: Doors Check Schedule
  description: ''
  triggers:
  - trigger: sun
    event: sunset
    offset: 0
  - trigger: time
    at: '23:59:00'
  conditions: []
  actions:
  - action: script.doors_check
    metadata: {}
    data: {}
  mode: single
- id: '1768801283172'
  alias: Frigate Notifications Test
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera:
      - camera.garage_cam
      notify_device: 83f5d3039d66859d74a9998ea9308889
      ios_live_view: camera.garage_front_fluent
      zone_filter: false
      title: Frigate Notifications Test
      url_1: '{{base_url}}/api/frigate{{client_id}}/notifications/{{id}}/{{camera}}/master.m3u8'
      cooldown: 3
      master_condition:
      - condition: state
        entity_id: switch.front_cams_push_notify
        state:
        - 'on'
- id: '1771550130081'
  alias: Illumination test
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.light_sensor_65_the_frame_illuminance
    below: 100
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_l
    metadata: {}
    data:
      message: 'Illumination below 100. Value: "{{ states(''sensor.light_sensor_65_the_frame_illuminance'')
        }}" '
  mode: single
